.auth-page {
  padding: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.auth-page h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.auth-page form {
  display: flex;
  flex-direction: column;
}

.auth-page input {
  margin-bottom: 1rem;
}

.auth-page button {
  background-color: #3b3e54;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.auth-page button:hover {
  background-color: #6f907b;
}

.auth-error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}